body {
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}
